<ons-page>

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Learnig Center</div>
    </ons-toolbar>
    <ons-list>

        <ons-list-item modifier="chevron" class="list-item-container" ng-click="app.navi.popPage('video2.html');">>>
          <ons-row>
            <ons-col width="95px">
              <img src="images/thumb/thumb1.JPG" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                What is Type 1 Diabetes
              </div>
              
              <div class="desc">
                Learn Everything about Type 1 Diabetes in this animated video
              </div>
              <div class="name">
              <a class="name" href="#" onclick="window.open('https://www.youtube.com/watch?v=_OOWhuC_9Lw', '_system', 'location=yes'); return false;">
                Watch
            </a>
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container">
          <ons-row>
            <ons-col width="95px">
              <img src="images/thumb/thumb2.JPG" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                What is Type 2 Diabetes?
              </div>
              
              <div class="desc">
                Learn Everything about Type 2 Diabetes in this animated video.
              </div>
              <div class="name">
              <a class="name" href="#" onclick="window.open('https://www.youtube.com/watch?v=_OOWhuC_9Lw', '_system', 'location=yes'); return false;">
                Watch
            </a>
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container">
          <ons-row>
            <ons-col width="95px">
              <img src="images/thumb/thumb3.JPG" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                What is diabetes- Sinhala
              </div>
              
              <div class="desc">
                What is diabetes in sinhala language. What is normal blood sugar level 100 mg/dl or 5.4 mmol/l.
              </div>
              <div class="name">
              <a class="name" href="#" onclick="window.open('https://www.youtube.com/watch?v=f6dv5HwUR0M', '_system', 'location=yes'); return false;">
                Watch
            </a>
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container">
          <ons-row>
            <ons-col width="95px">
              <img src="images/thumb/thumbs4.JPG" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                Top 10 Foods for Diabetes Control
              </div>

              <div class="desc">
                Best 10 Foods to Manage Diabetes.
              </div>
              <div class="name">
              <a class="name" href="#" onclick="window.open('https://www.youtube.com/watch?v=JsHqXrFohG0', '_system', 'location=yes'); return false;">
                Watch
            </a>
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>


</ons-page>

<style>
.list-item-container{line-height:1;padding:15px 0 15px 15px}.thumbnail{width:80px;height:80px;border-radius:4px;-webkit-border-radius:4px}.name{font-weight:500;line-height:16px;font-size:15px;margin-bottom:6px}.location{font-size:14px;opacity:.4;margin-bottom:6px}.desc{line-height:1.2;font-size:13px}
.list-item-container{line-height:1;padding:15px 0 15px 15px}.thumbnail{width:80px;height:80px;border-radius:4px;-webkit-border-radius:4px}.name{font-weight:500;line-height:16px;font-size:15px;margin-bottom:6px}.location{font-size:14px;opacity:.4;margin-bottom:6px}.desc{line-height:1.2;font-size:13px}
}